* {
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 100px 20px 0;
}

.header{
    background-color:#e2d21d9d ;
    height: 99px;
    position: fixed;
    width:100%;
    top: 0px;
    left: 0;
}

.nav {
    display:flex;
    justify-content: space-between;

    max-width: 9992px;
    margin: 0 auto;
}

.nav-link {
    color:rgb(3, 3, 3);
    text-decoration: none;
}

.imagen-logo img{
    width: 130px;
    height:130px;
    margin-left: 0px;
    padding:1px;

}

.nav-menu{
    display:flex;
    margin-right: 50px;
    list-style: none;
}

.nav-menu-item{
    font-size:18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: none;
    width: max-content;
}

.nav-menu-item {
    font-size:18px ;
    margin:5px 50px;
    line-height: 100px;
    width: max-content;
    
}

.nav-menu-link{
    padding: 8px 12;
    border-radius: 5px;


}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color:#cfbe009d ;
    transition: .5s;
    padding:15px 10px
    

}

.nav-toggle{
    color:rgba(11, 10, 10, 0.84);
    background:none;
    border:none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display:none;

}

@media (max-width: 768px) {
    body{
        padding-top: 90px;
    }
    
    .header{
        height:80px;
    }
    
    .nav {
        display:flex;
        justify-content: space-between;
    
        max-width: 9992px;
        margin: 0 auto;
    }
    
    .nav-link {
        color:rgb(240, 225, 225);
        text-decoration: none;
    }
    
    .imagen-logo img{
        width: 115px;
        height:115px;
        margin-left: 10px;
        padding:0px;
        margin-left: 10px;
    
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #beb16f;
        position:fixed;
        left:0px;
        top:60px;
        width:100%;
        padding:20px 0;

        height: calc(100% - 60px);
        overflow-y:auto ;
    }
    
    .nav-menu-item{
        line-height: 70px;
        
    }
    
    .nav-menu-item {
        font-size:18px ;
        margin:5px 50px;
        line-height: 100px;
        width: max-content;
        
    }
    
    
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background:none ;
        color:#83c5f7;
    }

    .nav-toggle{
        display:block;
    }
}
